
.login-container {
    width: 40%;
    background-color: #6070ff;
    margin: auto;
    padding: 5%;
}
.introo {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
.introo img {
    border-radius: 50%;
    margin: auto;
}

.log_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.log_container input {
    height: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid;
}

.submit_btn {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    width: 50%;
    margin: auto;
     border: 1px solid ;
     border-radius: 20px;
}